#body
{
background-image:url('bg6.jpg');
background-repeat:no-repeat;
background-color:#010302;
}

#review1
{
height:729px;
width:989px;
border-radius:20px;
border-color:silver;
margin:0 auto;
box-shadow:3px 2px 5px blue;
}

#container_banner
{
height:100px;
width:980px;
background-image:url('banner2.png');
background-repeat:no-repeat;
border-radius:22px;
position:relative;
left:170px;
box-shadow:4px 4px 16px blue;	
}

#container_menubar
{
height:40px;
width:980px;
border-radius:22px;
margin-left:160px;
}

#batman
{
border-radius:20px;
margin-top:100px;
margin-left:10px;
box-shadow: 3px 3px 5px blue;
position:relative;
bottom:80px;
right:12px;
}

#text
{
height:720px;
width:650px;
border-radius:20px;
position:relative;
left:289px;
bottom:726px;
text-align: justify;
background-color:white;
padding-left:20px;
padding-right:29px;
padding-top:10px;
font-size:14pt;
line-height:150%;
}

#button2
{
height:40px;
width:90px;
background-image:url('next.png');
float:right;
border-radius:10px;
position:relative;
top:30px;
}

#button
{
height:40px;
width:152px;
background-image:url('previous.png');
float:left;
border-radius:10px;
position:relative;
top:30px;
}
