#container_page
{
height:800px;
width:980px;
margin:0 auto;
text-align:center;
}

#body
{
background-image:url('bg6.jpg');
background-color: #010302 ;
}

#container_banner
{
height:100px;
width:980px;
background-image:url('banner2.png');
background-repeat:no-repeat;
border-radius:22px;
margin:0px;
box-shadow:4px 4px 16px #695acd;	

}
#side
{
width:170px;
height:300px;
position:relative;
right:230px;
bottom:279px;
border-radius:22px;
text-align:justify;
float:left;
}

#sidebarmenu1 
{
position:relative;
right:22px;
bottom:20px;
border-radius:22px;
}

#side ul li
{
 list-style: none; 
}

#container_left_column
{
height:75px;
width:200px;
float:left;
border-color:blue;
border-radius:25px;
margin:0px;
position:relative;
top:7px;
}


#left2
{
height:338px;
width:200px;
float:left;
border-radius:25px;
margin:0px;
background-image:url('.jpg');
box-shadow:3px 2px 5px blue;
position:relative;
top:80px;
right:200px;
}

#form
{
border-radius:22px;
}

#tictac
{
position:relative;
bottom:35px;
}

#left3
{
height:70px;
width:200px;
background-color:white;
float:left;
border-color:#c4cc1e;
border-radius:25px;
margin:0px;
position:relative;
top:430px;
right:400px;
opacity:0.7;
}

#container_main_column
{
height:525px;
width:765px;
background-repeat:no-repeat;
float:right;
border-radius:22px;
margin:5px;
background-size: cover;
box-shadow:4px 4px 16px blue;	
position:relative;
bottom:328px;
}

#submain
{
border-radius:22px;
height:270px;
width:505px;
font-size:24pt;
font-family:Bradley Hand ITC;
position:relative;
bottom:10px;
left:230px;
background-image:url('111.jpg');
box-shadow:4px 4px 10px blue;
}

#p
{
color:black;
}

#p2
{
color:black;
font-size:24px;
position:relative;
top:18px;
background-color:white;
border-radius:22px;
opacity:0.7;
}

#p3
{
font-size:18pt;
position:relative;
bottom:10px;
}

#container_footer
{
height:60px;
width:765px;
float:right;
border-radius:22px;
margin-top:18px;
position:relative;
bottom:330px;
}

#fb
{
height:50px;
width:35px;
border-radius:20px;
margin-top:10px;
}

#twit
{
height:50px;
width:35px;
border-radius:20px;
margin-top:10px;
}

#gmail
{
height:50px;
width:35px;
border-radius:10px;
margin-top:10px;

}

#game
{
height:50px;
width:35px;
border-radius:10px;
margin-top:10px;
}

#wii
{
height:50px;
width:35px;
border-radius:12px;
margin-top:10px;
border-style:solid;
position:relative;
}

#xbox
{
height:50px;
width:35px;
border-radius:20px;
margin-top:10px;
position:relative;
}

#pc
{
height:50px;
width:35px;
border-radius:10px;
margin-top:10px;
position:relative;
}

#ps3
{
height:50px;
width:35px;
border-radius:10px;
margin-top:10px;
position:relative;
}

#spartan
{
height:400px;
width:700px;
background-image:url('spartan.png');
background-repeat:no-repeat;
background-size:450px ;
position:relative;
top:30px;
left:4px;
}

#spartan1
{
height:400px;
width:700px;
background-image:url('spartan1.png');
background-repeat:no-repeat;
background-size:450px ;
position:relative;
bottom:369px;
left:310px;
}

#tw
{
position:relative;
bottom:74px;
left:150px;
}

