#container_page
{
height:100%;
width:980px;
margin:0 auto;
}

#body
{
background-image:url('bg6.jpg');
background-color:#010302;
}

#container_banner
{
height:100px;
width:980px;
background-image:url('banner2.png');
background-repeat:no-repeat;
border-radius:22px;
margin:0px;
position:relative;
right:20px;
box-shadow:3px 2px 5px blue;
}

#container_menubar
{
height:40px;
width:980px;
background-repeat:no-repeat;
border-radius:22px;
background-size: cover;
}

#CU
{
position:relative;
top:0px;
left:245px;
color: #fff;
text-shadow: 
0px 1px 0px #999,
0px 2px 0px #888, 0px 3px 0px
#777, 0px 4px 0px #666, 0px 5px
0px #555, 0px 6px 0px #444, 0px 
7px 0px #333, 0px 8px 7px #001135;
font-size:700%;
}

#text
{
font-size:32px;
position:relative;
left:90px;
}

#images
{
position:relative;
top:265px;
}

#qrcode
{
text-align:center;
position:relative;
bottom:220px;
right:20px;
}

#qrcode1
{
text-align:center;
position:relative;
bottom:220px;
left:20px;
}

#qr
{
float:right;
height:130px;
width:130px;
bottom:950px;
border-radius:10px;
}

#qr1
{
float:left;
height:130px;
width:130px;
border-radius:10px;
}
#map
{
height:300px;
width:600px;
text-align: center;
position:relative;
bottom:280px;
left:40px;
border-radius:10px;
box-shadow:3px 2px 5px blue;
}

#p2
{
position:relative;
bottom:270px;
left:200px;
color:black;
}

#a
{
color:black;
}

#container_main_column
{
height:625px;
width:940px;
border-radius:22px;
box-shadow:3px 2px 5px blue;
}

#container_footer
{
height:80px;
width:940px;
border-width:0px;
border-radius:22px;
position:relative;
left:140px;
top:30px;
}

#container_main_sub
{
height:190px;
width:560px;
background-color:#fffafa;
border-width:4px;
border-color:#fff0f5;
float:right;
}
