#container_page
{
height:800px;
width:980px;
margin:0 auto;
}

#body
{
background-image:url('bg6.jpg');
background-repeat:no-repeat;
}


#container_banner
{
height:100px;
width:980px;
background-image:url('banner2.png');
background-repeat:no-repeat;
border-radius:22px;
box-shadow:3px 2px 5px blue;
position:relative;
left:10px;
}

#container_menubar
{
height:40px;
width:940px;
background-image:url('.jpg');
background-repeat:no-repeat;
float:left;
color:#fffafa;
border-radius:22px;
background-size: cover;
}

#container_main_column
{
height:525px;
width:940px;
background-image:url('.jpg');
background-repeat:no-repeat;
background-size: cover;
border-width:1px;
border-color:#ffffff;
float:right;
border-radius:22px;
margin:5px;
color:black;
}

#container_footer
{
height:60px;
width:977px;
background-repeat:no-repeat;
border:0px;
float:left;
border-radius:22px;
margin-top:8px;
position:relative;
left:180px;
}

#container_main_sub
{
height:190px;
width:560px;
background-color:#fffafa;
border-width:4px;
border-color:#fff0f5;
float:right;
}

#container_main_sub1
{
height:252px;
width:560px;
background-color:#e6e6fa;
border-width:0px;
border-color:#fff0f5;
float:left; 
}

#form
{
height:525px;
width:700px;
background-image:url('.jpg');
background-size:cover;
position:relative;
left:100px;
border-radius:20px;
}