#body
{
background-image:url('bg6.jpg');
background-repeat:no-repeat;
background-color: #010302;
}

#review1
{
height:899px;
width:980px;
border-width:0px;
border-style:solid;
border-radius:20px;
border-color:silver;
margin:0 auto;
box-shadow:3px 2px 5px blue;
}

#container_banner
{
height:100px;
width:980px;
background-image:url('banner2.png');
background-repeat:no-repeat;
border-radius:22px;
position:relative;
left:170px;
box-shadow:4px 4px 16px blue;	
}

#container_menubar
{
height:40px;
width:980px;
background-image:url('.jpg');
background-repeat:no-repeat;
border-radius:22px;
background-size: cover;
font:white;
margin-left:160px;
}

#theline
{
border-radius:20px;
box-shadow: 3px 3px 5px blue;
position:relative;
right:0px;
top:15px;
}

#text
{
height:887px;
width:630px;
border-radius:20px;
position:relative;
left:310px;
bottom:691px;
text-align: justify;
background-color:white;
padding-left:10px;
padding-right:29px;
padding-top:10px;
font-size:14pt;
line-height:150%;
}

#myslideshow
{
position:relative;
right:40px;
top:40px;
}

#button
{
height:40px;
width:90px;
border-style:solid;
border:1px;
background-image:url('next.png');
float:right;
position:relative;
bottom:0px;
border-radius:10px;
}

#button2
{
height:40px;
width:152px;
border-style:solid;
border:1px;
background-image:url('previous.png');
float:left;
position:relative;
right:4px;
border-radius:10px;
}



